# Scraping top 100 IMDB movie list

In [12]:
# importing all the required libraries

# importing requests library which helps in pulling out contents of a website
import requests 

# importing bs4/beautifulsoup4 library which will give us various functions...
# ..which inturn will help us search the HTML content to get the desired output  
import bs4
from bs4 import BeautifulSoup

website= 'https://www.imdb.com/chart/top/'

# the below code will help us know whether the website allows scraping the data.

ws=requests.get(website)

# ws - running 'ws' gave an output as <Response [200]> meaning the site is scrapable.

# getting the HTML content using bs4/beautifulsoup

moviename= BeautifulSoup(ws.content)
moviename
# running content gave an output of the HTML data which we will be using to further scrape the required data

# Extracting all the header tags
movies= [] # an empty list is created where all the header tags iterated using for loop will be appended.

for i in moviename.find_all('td', class_="titleColumn"):
    movies.append(i.text.split('\n')[2].strip(' '))
movies[:5]
#     i=i.text.replace('\n', "")
#     i=i.strip(" ")
#     movies.append(i)
# movies[: 100]
# scrap ratings for top 100 movies

imdb_ratings=[]

ratings=BeautifulSoup(ws.content)

for r in ratings.find_all('td', class_="ratingColumn imdbRating"):
    r=r.text.replace('\n',"")
    imdb_ratings.append(r)
imdb_ratings[: 5]


# scraping year of release of top 100 movies

year=[]

year_release=BeautifulSoup(ws.content)
for y in year_release('span',class_="secondaryInfo"):
    year.append(y.text)
year[:5]


import pandas as pd
df=pd.DataFrame({'Movies': movies,'Year_of_Release': year, 'Ratings': imdb_ratings})
df[:100]

                               Movies Year_of_Release Ratings
0            The Shawshank Redemption          (1994)     9.2
1                       The Godfather          (1972)     9.2
2                     The Dark Knight          (2008)     9.0
3               The Godfather Part II          (1974)     9.0
4                        12 Angry Men          (1957)     9.0
..                                ...             ...     ...
95                       Citizen Kane          (1941)     8.3
96  M - Eine Stadt sucht einen Mörder          (1931)     8.3
97                 Lawrence of Arabia          (1962)     8.3
98                 North by Northwest          (1959)     8.2
99                            Vertigo          (1958)     8.2

[100 rows x 3 columns]